/* utilities */
.bg-green{
    background-color: rgb(26,188,156);
}

[class*='container']{
    border: 1px dashed black;
}

[class*='col']{
    border: 1px dashed red;
    
}

.custom-color-w{
    color: #fff;
}

/* header */

header{
    height: 100px;
    background-color: #2C3E50;
    
}

.navbar-toggler-icon{
    filter: invert(1);
}


/* jumbotron */

.jumbotron{
    background-color: #1ABC9C;

    min-height: 400px;
}

/* footer */

.footer-top{
    background-color: #3A546D;
    height: 200px; color: white;
}

.footer-botom{
    background-color: #2C3E50;
    min-height: 100px;
    color: white;
}

